@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$primary-color: #06de99;
$secondary-color: #2d322f;
$text-color: #5e6360;
$white: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fafafa;
}

.header {
    background-color: $white;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

label {
    margin-bottom: 0;
    font-weight: 500;
}

.form-text {
    margin-top: 0;
    margin-bottom: 5px;
}

.dropdown-menu {
    left: unset;
    right: 0;
    min-width: 12rem;
}

.avatar-image {
    font-size: 20px;
    margin-right: 5px;
    color: #dad9d9;
}

.logo {
    color: $secondary-color;
    display: flex;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    transition: all .25s;

    &:hover {
        color: $primary-color;
    }
    i {
        font-size: 30px;
        color: $primary-color;
        margin-right: 5px;
       }
}
 
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: $secondary-color;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  outline: none !important;
  border: none;
  background: transparent !important;
}
 
.navbar-toggler-menu {
    font-size: 16px;
    margin-top: 5px;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.nav-link {
    color: $text-color;
    transition: all .25s;

    &:hover {
        color: $primary-color;
    }
}

.post-job {
    color: #536eec;
    border: 1px solid #536eec;
    border-radius: 4px;
    padding: 3px 5px;

    i {
        font-size: 14px;
    }

    &:hover {
        color: #536eec;
    }
}

.nav-link-logout {
    cursor: pointer;
}

.card {
    border: 1px solid #d8d8d8;
}

.card-header {
    padding: 25px 15px;
    background-color: $white;
    border: none;
    text-align: center;

    h1 {
        font-size: 30px;
    }
}

.card-footer {
    padding: 0 0 15px 0;
    background-color: $white;
    border: none;
    text-align: center; 
}

.card-link {
    color: $secondary-color;
}

.primary-button {
    background-color: $primary-color;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    color: $white;
}

.hero-home {
    width: 100%;
    min-height: 700px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero-home-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-about {
    width: 100%;
    min-height: 700px;
    background: linear-gradient(rgba(45,50,47,.5), rgba(45,50,47,.5)), url(../images/hero-about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-show-job {
    background-color: $white;
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-top: 57px;

    .hero-title {
        color: $secondary-color;
        text-transform: capitalize;
        text-align: left;
        font-size: 30px;

        @media(max-width: 767px) {
            font-size: 20px;
        }
    }
}

.hero-title {
    color: $white;
    text-align: center;
    font-weight: 600;
}

.hero-subtitle {
    color: $white;
    text-align: center;
    font-size: 20px;
}

.button {
    padding: 15px 50px;
    color: $white;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.12);
    text-decoration: none !important;
    transition: all .25s;
    margin: 10px;

    &:hover {
        color: $white;
    }
}

.primary-button {
    background-color: $primary-color;
}

.secondary-button {
    background-color: #536eec;
}

.job-card {
    width: 100%;
    padding: 15px;
    border: 1px solid #d8d8d8;
    position: relative;
    background-color: $white;
    border-radius: 4px;
    transition: all .25s;

    &:hover {
        background-color: #eef0f1;
    }
}

.job-card-image {
    margin-right: 15px;

    img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: center;
    }
}

.job-card-type {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,193,7,.5);
    font-size: 12px;
    padding: 3px 10px;
    font-weight: 700;
}

.job-card-title {
    font-weight: 500;
    font-size: 20px;

    a {
        color: $secondary-color;
        transition: all .25s;
        &:hover {
            color: $secondary-color;
        }
    }
}

.job-card-company {
    font-size: 14px;

    span {
        font-weight: 700;
    }
}

.job-card-desc {
    font-size: 16px;
    color: $text-color;
}

.login, .register, .profile, .create-job {
    margin-top: 114px;
}

.create-job-panel {
    padding: 25px;
    background-color: $white;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

.single-job-title {
    display: flex;
    align-items: center;

    img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: center;
        margin-right: 15px;
    }
}

.single-job-link {
    color: $primary-color;
    font-size: 14px;
    transition: all .25s;

    &:hover {
        text-decoration: none;
        color: #536eec;
    }
}